@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Rubik&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-image: url(images/header-image.png);
    height: 100vh;
    width: 100%;
    background-position: right;
    background-size: cover;
    position: relative;
    padding-top: 1px;
}

nav {
    display: flex;
    padding: 10px 120px;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    transition: 0.5s all;
}

.logo {
    width: 115px;
    height: 45px;
}

.nav-list {
    display: flex;
}

.list-item {
    margin-left: 25px;
    display: grid;
    place-items: center;
    background-color: #D9D9D914;
    width: 80px;
    height: 28px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.list-item::after {
    content: '';
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    opacity: 75%;
    transition: 0.5s all;
}

.list-item:hover:after {
    width: 100%;
}

.a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    width: 80px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}

.book-lesson-btn {
    border: 1px solid #ffffff69;
    background-color: transparent;
    border-radius: 2px;
    color: white;
    height: 32px;
    width: 140px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px #ffffff30;
    transition: 0.5s all;
}

.book-lesson-btn:hover {
    background-color: #D9D9D945;
    border: 1px solid #ffffff69;
}

.home-page {
    margin-left: 120px;
    margin-top: 210px;
    color: white;

}

.home-h1 {
    line-height: 42px;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}

.home-p {
    font-family: 'Montserrat', sans-serif;
    color: #E9E9E9;
    font-size: 15px;
    padding-top: 20px;
}

.book-lesson-btn2 {
    border: 1px solid #ffffff69;
    background-color: #FEC671;
    border-radius: 2px;
    color: #461851;
    height: 32px;
    width: 140px;
    cursor: pointer;
    margin-top: 50px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0.5px 0.5px 1px #ffffff30;
    transition: 0.5s all;
}

.book-lesson-btn2:hover {
    background-color: #D9D9D945;
    color: white;
}

.about-page {
    background-image: url(images/about-image.png);
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100%;
    display: flex;
}

.about {
    padding-top: 120px;
    margin: 0 110px;
}

.about-cards {
    width: 50%;
    margin-left: -56px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-card-1 {
    width: 190px;
    height: 159px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
    margin-top: -30px;
}

.about-icon-1 {
    padding-left: 40%;
    padding-top: 5%;
}

.about-card-p1 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #000000;
}

.about-card-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    width: 172px;
    height: 67px;
    background: #EBE4E4;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
    margin-top: 8%;
}

.about-card-2 {
    width: 190px;
    height: 159px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
    margin-top: -160px;
}

.about-icon-2 {
    padding-left: 40%;
    padding-top: 5%;
}

.about-card-p2 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #000000;
}

.about-card-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    width: 172px;
    height: 67px;
    background: #EBE4E4;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
    margin-top: 8%;
}

.about-card-3 {
    width: 190px;
    height: 159px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
    margin-top: -248px;
}

.about-icon-3 {
    padding-left: 40%;
    padding-top: 5%;
}

.about-card-p3 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #000000;
}

.about-card-content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    width: 172px;
    height: 67px;
    background: #EBE4E4;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
    margin-top: 8%;
}

.about-p1 {
    color: #6F4D78;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.about-h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    padding-top: 60px;
}

.about-p2 {
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #4B4B4B;
}

.book-lesson-btn3 {
    border: 0;
    background-color: #734486;
    border-radius: 2px;
    color: #FFFFFF;
    height: 32px;
    width: 140px;
    cursor: pointer;
    margin-top: 50px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0.5px 0.5px 1px #ffffff30;
    transition: 0.5s all;
}

.contact-page {
    background-image: url(images/contact-image.png);
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
}

.contact {
    padding-top: 120px;
    margin: 0 180px;
}

.contact-p1 {
    color: #6F4D78;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.contact-h2 {
    color: #404040;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
}

.contact-p2 {
    color: #818181;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    word-spacing: 2px;
    font-size: 14px;
}

.contact-span1 {
    color: #A44FBC;
}

.contact-p3 {
    padding-top: 50px;
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.card-1 {
    margin-top: 20px;
    display: flex;
}

.contact-img1 {
    width: 27px;
    height: 30px;
}

.contact-p4 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    padding-left: 39px;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.contact-span2 {
    color: #787878;
    font-weight: 500;
}

.card-2 {
    margin-top: 33px;
    display: flex;
}

.contact-img2 {
    width: 27px;
    height: 30px;
}

.contact-p5 {
    color: #FFFFFF;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    padding-left: 39px;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
}

.contact-img3 {
    width: 27px;
    height: 30px;
}

.contact-span3 {
    color: #CFCFCF;
    font-weight: 500;
}

.card-3 {
    margin-top: 20px;
    display: flex;
}

.form {
    width: 405px;
    height: 460px;
    margin-left: -100px;
    margin-top: 110px;
    background: #BD5FD6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 30px 50px;
}

.contact-h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.contact-p6 {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #292929;
}

.contact-input {
    margin-top: 5px;
    border: 0;
    width: 312px;
    height: 32px;
    padding: 0 10px;
    background: #EAE7FB;
    border-radius: 2px;
    outline: none;
}

.contact-input2 {
    width: 312px;
    height: 126px;
    border: 0;
    padding: 7px 7px;
    outline: none;
    margin-top: 5px;
    background: #EAE7FB;
    border-radius: 3px;
    resize: none;
}

.contact-btn {
    cursor: pointer;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    width: 139px;
    height: 34px;
    border: 0;
    background: #581F66;
    border-radius: 2px;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(images/Clients.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.our-clients {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #6F4D78;

}

.wrapper {
    display: flex;
    max-width: 650px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #fff;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #c43de5;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #e8aef6;
    color: #b54dcf;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 250px;

    object-fit: cover;
    user-select: none;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-left: 20px;
    width: calc(100% / 3);
}

.carousel video {
    height: 250px;

    object-fit: cover;
    user-select: none;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-left: 20px;
    width: calc(100% / 3);
}


.carousel img:first-child {
    margin-left: 0px;
}

.form1 {
    margin-top: 20px;
}